.section {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  padding: 5px;
  position: relative;
  /* width: 300px; */
}

.accordion {
  flex: 1 1 100%;
  width: 0;
}

.label {
  white-space: nowrap;
}

.item {
  border-bottom: none;
}

.control {
  padding: 0;
}

.control:hover {
  background-color: initial;
}

.icon {
  margin-right: 20px;
}

.dragHandle {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path fill-opacity="0.2" d="M4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" /></svg>');
  background-repeat: no-repeat;
  margin-right: 3px;
  transition: all .1s;
  /* visibility: hidden; */
  width: 10px;
}

.menu {
  position: absolute;
  right: 0;
  top: 3px;
}

.contentInner {
  padding: 0;
}

.page {
  overflow-x: hidden;
  white-space: nowrap;
}
